@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Nekst-Medium", sans-serif;
}

.custom-dropdown {
  background-color: #5F29B7 !important;
  color: white !important;
}

.custom-dropdown .ant-dropdown-menu-item {
  color: white !important;
}

.custom-dropdown .ant-dropdown-menu-item:hover {
  background-color: #7329D9 !important;
}



/*@font-face {*/
/*  font-family: "Nekst-Medium";*/
/*  src: url("/fonts/Nekst-Medium.woff2") format("woff2");*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/